testetl-work/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "testetl-work"
		},
		"AzureBatch1_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'AzureBatch1'"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"etlpreprocess_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'etlpreprocess'"
		},
		"AzureBatch1_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://etlpreprocess.eastus.batch.azure.com"
		},
		"AzureBatch1_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "etlpool"
		},
		"AzureBatch1_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "ETLWork"
		},
		"etlpreprocess_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://etlpreprocess.eastus.batch.azure.com"
		},
		"etlpreprocess_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "etlpool"
		},
		"etlpreprocess_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "etlpreprocess"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PreProcess",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "helloworld.exe",
							"resourceLinkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"folderPath": "etlbatch",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "etlpreprocess",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Port to Infiniport",
						"description": "This steps port to infiniport",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PreProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"fileListPath": "preprocess",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['RecordType']"
										},
										"sink": {
											"path": "$['TransactionDate']"
										}
									},
									{
										"source": {
											"path": "$['CompanyId']"
										},
										"sink": {
											"path": "$['AcquirerReferenceNumber']"
										}
									},
									{
										"source": {
											"path": "$['ReportDateFrom']"
										},
										"sink": {
											"path": "$['AuthorizationCode']"
										}
									},
									{
										"source": {
											"path": "$['ReportDateTo']"
										},
										"sink": {
											"path": "$['AuthorizationAmount']"
										}
									},
									{
										"source": {
											"path": "$['ReportGenerated']"
										},
										"sink": {
											"path": "$['TransactionAmount']"
										}
									},
									{
										"source": {
											"path": "$['ReportGeneratedTime']"
										},
										"sink": {
											"path": "$['Currency']"
										}
									},
									{
										"source": {
											"path": "$['TransactionRecordType']"
										},
										"sink": {
											"path": "$['Network']"
										}
									},
									{
										"source": {
											"path": "$['SubmissionDate']"
										},
										"sink": {
											"path": "$['CardPresentType']"
										}
									},
									{
										"source": {
											"path": "$['PID']"
										},
										"sink": {
											"path": "$['InterchangeFee']"
										}
									},
									{
										"source": {
											"path": "$['PIDShort']"
										},
										"sink": {
											"path": "$['NetworkFee']"
										}
									},
									{
										"source": {
											"path": "$['SubmissionNumber']"
										},
										"sink": {
											"path": "$['ProcessorFee']"
										}
									},
									{
										"source": {
											"path": "$['RecordNumber']"
										},
										"sink": {
											"path": "$['AssessmentFee']"
										}
									},
									{
										"source": {
											"path": "$['EntityType']"
										},
										"sink": {
											"path": "$['CommissionFee']"
										}
									},
									{
										"source": {
											"path": "$['EntityNumber']"
										},
										"sink": {
											"path": "$['ProcessorMID']"
										}
									},
									{
										"source": {
											"path": "$['PresentmentCurrency']"
										},
										"sink": {
											"path": "$['TransactionType']"
										}
									},
									{
										"source": {
											"path": "$['MerchantOrderNumber']"
										},
										"sink": {
											"path": "$['ProcessorTransactionId']"
										}
									},
									{
										"source": {
											"path": "$['RDFINumber']"
										},
										"sink": {
											"path": "$['SettlementDate']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PreProcessJson",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "InfiniceptTransactionContract",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]",
				"[concat(variables('factoryId'), '/linkedServices/etlpreprocess')]",
				"[concat(variables('factoryId'), '/datasets/PreProcessJson')]",
				"[concat(variables('factoryId'), '/datasets/InfiniceptTransactionContract')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InfiniceptTransactionContract')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "collation"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"TransactionDate": {
							"type": "string"
						},
						"AcquirerReferenceNumber": {
							"type": "string"
						},
						"AuthorizationCode": {
							"type": "string"
						},
						"AuthorizationAmount": {
							"type": "string"
						},
						"TransactionAmount": {
							"type": "string"
						},
						"Currency": {
							"type": "string"
						},
						"Network": {
							"type": "string"
						},
						"CardPresentType": {
							"type": "string"
						},
						"InterchangeFee": {
							"type": "string"
						},
						"NetworkFee": {
							"type": "string"
						},
						"ProcessorFee": {
							"type": "string"
						},
						"AssessmentFee": {
							"type": "string"
						},
						"CommissionFee": {
							"type": "string"
						},
						"ProcessorMID": {
							"type": "string"
						},
						"TransactionType": {
							"type": "string"
						},
						"ProcessorTransactionId": {
							"type": "string"
						},
						"SettlementDate": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PreProcessJson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "preprocess"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"RecordType": {
							"type": "string"
						},
						"CompanyId": {
							"type": "string"
						},
						"ReportDateFrom": {
							"type": "string"
						},
						"ReportDateTo": {
							"type": "string"
						},
						"ReportGenerated": {
							"type": "string"
						},
						"ReportGeneratedTime": {
							"type": "string"
						},
						"TransactionRecordType": {
							"type": "string"
						},
						"SubmissionDate": {
							"type": "string"
						},
						"PID": {
							"type": "string"
						},
						"PIDShort": {
							"type": "string"
						},
						"SubmissionNumber": {
							"type": "string"
						},
						"RecordNumber": {
							"type": "string"
						},
						"EntityType": {
							"type": "string"
						},
						"EntityNumber": {
							"type": "string"
						},
						"PresentmentCurrency": {
							"type": "string"
						},
						"MerchantOrderNumber": {
							"type": "string"
						},
						"RDFINumber": {
							"type": "string"
						},
						"AccountNumber": {
							"type": "string"
						},
						"ExpirationDate": {
							"type": "string"
						},
						"Amount": {
							"type": "string"
						},
						"MOP": {
							"type": "string"
						},
						"ActionCode": {
							"type": "string"
						},
						"AuthDate": {
							"type": "string"
						},
						"AuthCode": {
							"type": "string"
						},
						"AuthResponseCode": {
							"type": "string"
						},
						"Trace": {
							"type": "string"
						},
						"ConsumerCountryCode": {
							"type": "string"
						},
						"Transactionype": {
							"type": "string"
						},
						"MCC": {
							"type": "string"
						},
						"TokenIndicator": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatch1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "[parameters('AzureBatch1_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('AzureBatch1_properties_typeProperties_poolName')]",
					"accountName": "[parameters('AzureBatch1_properties_typeProperties_accountName')]",
					"linkedServiceName": {
						"referenceName": "AzureBlobStorage1",
						"type": "LinkedServiceReference"
					},
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('AzureBatch1_accessKey')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/etlpreprocess')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "[parameters('etlpreprocess_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('etlpreprocess_properties_typeProperties_poolName')]",
					"accountName": "[parameters('etlpreprocess_properties_typeProperties_accountName')]",
					"linkedServiceName": {
						"referenceName": "AzureBlobStorage1",
						"type": "LinkedServiceReference"
					},
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('etlpreprocess_accessKey')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}